#answer {
  padding: 16px;
}

.answer-wrapper {
  position: relative;
}

#current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: auto;
}

#current-weather img {
  margin-left: 5px;
}

.spinner {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.fade {
  transition: opacity 0.3s ease-in-out;
}

.loseh-text {
  color: rgb(201, 0, 0);
}
.losel-text {
  color: rgb(0, 0, 255);
}
.win-text {
  color: rgb(0, 161, 0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #current-weather {
    font-size: 0.8em;
  }
  .spinner {
    width: 20px;
    height: 20px;
  }
}
