#weather-guesser {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

#weather-guesser.submitted {
  animation: bump 0.3s ease;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#weather-guesser input {
  box-sizing: border-box;
  margin-left: 10px;
  outline: none;
  border: 1px solid rgb(0, 0, 199);
  border-radius: 4px;
  min-width: 80px;
  text-align: center;
}

#weather-guesser input:focus {
  border: 2px solid rgb(0, 0, 199);
}

#guess {
  font-size: 1.5rem;
  padding: 4px;
  width: 60px;
}

#submit {
    padding: 7px;
}
#submit:focus {
    padding: 6px;
}

#hint-button {
  margin-left: 10px;
  padding: 7px;
}
#hint-button:focus {
  padding: 6px;
}

@media only screen and (max-width: 600px) {
  #weather-guesser input {
    min-width: 60px;
  }
  #submit {
    font-size: 1rem;
    width: 100px;
  }
}
