#options-wrapper {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(230, 230, 230, 1);
  border: 2px solid black;
}

#options-wrapper p {
  padding: 5px;
}

.options-form {
  display: block;
  text-align: left;
  padding: 10px 0;
  width: 100%;
}
.options-form p {
  margin-top: 10px;
}
.options-form label {
  text-align: left;
  padding-left: 10px;
}

#region {
  border-radius: 2px;
  border: 1px solid grey;
  color: black;
  background-color: white;
  padding: 3px;
  outline: none;
}

@media only screen and (max-width: 1000px) {
  #options-wrapper {
    font-size: 1em;
  }
}
