h1 {
  margin: 0;
  padding: 50px;
  font-size: 6vw;
  line-height: 1;
  text-shadow: -2px -0px 4px rgb(107, 176, 255), 0px 0px 30px white,
    0px 0px 30px white, 0px 0px 30px white;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 8vw;
    padding: 40px;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 10vw;
    padding: 20px;
  }
}
@media only screen and (max-width: 300px) {
  h1 {
    padding: 10px;
  }
}
